<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include layouts/head %>
   
  </head>
  <body>
    <header>
       
    </header>
   
    <main>


      <div class="container">

        <%- body %>

      </div>
    </main>
    <footer>
        
        <%- include layouts/footer %>
       
    </footer>
  </body>
</html>